<?xml version="1.0"?>
<robot name="owl_description" xmlns:xacro="http://wiki.ros.org/xacro">


    <xacro:include filename="$(find owl_description)/urdf/robot.xacro"/>    
    <xacro:include filename="$(find owl_gazebo)/urdf/gazebo_plugins.xacro"/>    


    <xacro parent="world">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    </xacro>

    <xacro:gazebo_control/>
    
</robot>